<div class="show_comment card">
<h6  style="font-size:13px; padding:5px;"><%= comment.commenter%></h6>
<p style="color:grey;font-size:13px; padding:5px;"><%= comment.body%></p>
<p style="color:red; margin:4px; text-decoration:none;">
  <%= link_to 'delete', [comment.article, comment],
              method: :delete,
              data: { confirm: "Are you sure?" } %>
</p>
</div>