<div class="header bg-info text-white text-center p-3"><h1>My Articles</h1> </div>


<%# this method does a each loop to map through the articles and give back the expected results.  %>
 <%#<%evalutes whats enclosed in the ruby code. %> <%#<%= evalutes whats enclosed in the ruby code but gives back the results obtained %>
<ul class="text-center">
<% @articles.each do |article| %>  
<li class="card">
<%=link_to article.title, article%>
</a>
</li>
<% end %>

</ul>
