
<div class="header bg-info text-white text-center p-3"><h1>New Article</h1> </div>

<div class="new text-center mt-5">
<%= render "form", article: @article %>
</div>
<%# note %>
<%# the full_messages_for method returns a user friendly array of message if specified,  else returns empty %>